<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.user.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="incomeLevel" column="income_level" jdbcType="VARCHAR"/>
            <result property="travelModePreference" column="travel_mode_preference" jdbcType="VARCHAR"/>
            <result property="activityTypePreference" column="activity_type_preference" jdbcType="VARCHAR"/>
            <result property="travelRestriction" column="travel_restriction" jdbcType="VARCHAR"/>
            <result property="rests" column="rests" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        gender,income_level,travel_mode_preference,
        activity_type_preference,travel_restriction,rests
    </sql>
</mapper>
